@font-face{
    font-family: myfont;
    src:url('font/GE_SS_Two_Bold.otf')
}
@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}

.navbar-default {
    background-color: #102e5e;
    border-color: #e7e7e7;

}
    .navbar-default .navbar-nav > li > a {
        color: #facd35;
        font-family:myfont;
    }
        .navbar-default .navbar-nav > li > a:hover {
            color: #ffeaa5;
            font-family: myfont;
        }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #facd35;
    }
.myfooter {
    background-color: #102e5e;
    padding: 10px;
  
    font-family: myfont;
    color: #facd35;
}
.subfooter {
    background-color: #102e5e;
    padding: 10px;
    font-family: myfont;
    text-align: center;
    color: #facd35;
}

.logo {
    color: #facd35;
    font-family: myfont;
    
}
.title {
    font-family: myfont2;
    color: #102e5e;
}
.desc {
    font-family: myfont2;
    color: #102e5e;
}

body {
    padding-top: 100px;
    padding-bottom:200px;
    overflow: auto;
}

.img-size {
    font-size: 90px;
}

.navbar-user {
    padding: 10px;
    padding-bottom:0px;
    width: 350px;
}
.glyphicon .notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
}

.glyphicon .notification:hover {
    background: red;
}
.dropdown-toggle .badge {
    color:red;
    position: absolute;
    top: -10px;
    right: -20px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
#searchName {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12px 20px 12px 12px;
    transition: width 0.4s ease-in-out;
}

    #searchName:focus {
        width: 100%;
    }

<<<<<<< HEAD
#Notification {
    width: 200px;
   
}
#Notification2 {
    width: 200px;
   
}
#row{
    background-color: #95C6D4;
}
#row2 {
    background-color: #DBECF0;
}
.btn {
    border-radius: 15px
=======
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
>>>>>>> f50b24f44e9179e24c64e9937d8ad989cdf431b2
}