@model IEnumerable<p00.Models.TopicEV>
@using Microsoft.AspNet.Identity
@using WebApplication2.Models;



@{ ViewBag.Title = "الرئيسية"; }

@if (User.IsInRole("استاذ"))
{
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h4>ادخال المعلومات</h4>
                        <p>جميع المعلومات المطلوبة</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="Home/CreateProfileTeachers" class="small-box-footer">اضافة <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h4>تفعيل الحساب<h4>
                        <p>تفعيل الحساب للدخول ضمن عملة التقييم</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="~/EvaluationForms" class="small-box-footer">تفعيل <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h4>رفع الوثائق <h4>
                        <p>رفع الوثائق المطلوبة لعملية التقييم</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="~/Home/DocumentsofTopic" class="small-box-footer"> رفع <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h4>نتيجة التقييم<h4>
                        <p>يتم ارسال رسالة نصية على الاميل عند موعد ظهور النتيجة</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="ribbon-outline"></ion-icon>

                    </div>
                    <a href="~/Home/ShowAssent" class="small-box-footer">اظهار <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <!-- Main row -->
    </section>
}
@if (User.IsInRole("لجنة"))
{
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h4>ادخال المعلومات<h4>
                        <p>جميع المعلومات المطلوبة</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="~/Home/CreateProfileTeachers" class="small-box-footer">اضافة <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h4>تقييم استاذ<h4>
                        <p>تقييم المحور الخاص في اللجنة المنتمي اليها</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="~/EvaluationForms" class="small-box-footer">تقييم <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h4>رفع الوثائق <h4>
                        <p>رفع الوثائق المطلوبة لعملية التقييم</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="~/Home/DocumentsofTopic" class="small-box-footer"> رفع <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h4>نتيجة التقييم<h4>
                        <p>يتم ارسال رسالة نصية على الاميل عند موعد ظهور النتيجة</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="ribbon-outline"></ion-icon>

                    </div>
                    <a href="~/Home/ShowAssent" class="small-box-footer">اظهار <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <!-- Main row -->
    </section>
}
@if (User.IsInRole("admin"))
{
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h4>ادخال المعلومات<h4>
                        <p>جميع المعلومات المطلوبة</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="add-outline"></ion-icon>

                    </div>
                    <a href="Home/CreateProfileTeachers" class="small-box-footer">اضافة <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h4>تفعيل الحساب<h4>
                        <p>تفعيل الحساب للدخول ضمن عملة التقييم</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="checkmark-outline"></ion-icon>

                    </div>
                    <a href="~/EvaluationForms" class="small-box-footer">تفعيل <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h4>رفع الوثائق <h4>
                        <p>رفع الوثائق المطلوبة لعملية التقييم</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="document-outline"></ion-icon>
                    </div>
                    <a href="~/Home/DocumentsofTopic" class="small-box-footer"> رفع <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h4>انشاء حساب<h4>
                        <p>انشاء حسابات للجان والاساتذة</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="ribbon-outline"></ion-icon>

                    </div>
                    <a href="~/Account/Register" class="small-box-footer">انشاء <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <!-- Main row -->
    </section>
}

